<nav class="bg-gray-100">
  <div class="max-w-5xl mx-auto px-4 ">

    <div class="flex justify-between">

    <div class="flex space-x-4">

      <!--LOGO-->
      <div>
        <a href="#" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
          <svg class="mr-1 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>  
          <span class="font-bold ml-2">FORS</span>        
        </a>
      </div>

      <!--First nav item-->
      <div class="flex items-center space-x-1">
        <a href="" class="hidden md:block py-5 px-3 text-gray-700 hover:text-gray-900">Features</a>
        <a href="" class="hidden md:block py-5 px-3 text-gray-700 hover:text-gray-900">Pricing</a>
        <input class="px-3 py-2 rounded-2xl font-semibold placeholder-gray-500 text-black border-none ring-2 ring-gray-300 focus:ring-gray-500 focus:ring-2" type="text" placeholder="search">
      </div>

    </div>  


    <!--Second nav item-->
    <div class="hidden md:flex items-center space-x-1">
      <a href="" class="py-5 px-3">Login</a>
      <a href="" class="py-2 px-3 hover:bg-yellow-300 bg-yellow-400 text-yellow-900 hover:text-yellow-800 rounded transition duration-300">Signup</a>
    </div>

    <!-- Mobile buttong here -->
    <div class="md:hidden flex items-center">
      <button class="mobile-menu-button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>       
    </div>
    </div>

  </div>

  <!--Mobile menu-->
  <div class="mobile-menu hidden">
    <a href="" class="block py-2 px-3 text-sm hover:bg-gray-200">Login</a>
    <a href="" class="block py-2 px-3 text-sm hover:bg-gray-200">Signup</a>
  </div>
</nav>

<!--Main content body-->

<div class="mx-auto py-5 px-5">
  <router-outlet></router-outlet>
</div>